<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Page</title>
    <link href="/static/css/base/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base/bulma.min.css">
</head>

<body>
    <nav class="navbar is-transparent">
        <div class="container">
            <!-- <nav class="navbar"> -->
            <div class="navbar-brand">
                <a class="navbar-item" href="/index">
                    <img src="/static/img/BOCico.jpg" alt="BOC" width="45" height="50">
                </a>
                <a class="navbar-item" href="/index">
                    自动化操作系统
                </a>
                <div class="navbar-burger burger" data-target="navmenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navmenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/html/dashboard">
                        仪表盘
                    </a>

                    <!-- 配置管理 -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/html/configmgr">
                            配置管理
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <!-- <div class="navbar-dropdown"> -->
                            <a class="navbar-item" href="/html/appmgr">
                                应用管理
                            </a>
                            <a class="navbar-item" href="/html/servermgr">
                                服务器管理
                            </a>
                            <a class="navbar-item" href="/html/osusermgr">
                                用户管理
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="/html/test">
                                T
                            </a>
                        </div>
                    </div>

                    <!-- 任务管理 -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/html/taskmgr">
                            任务管理
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <!-- <div class="navbar-dropdown"> -->
                            <a class="navbar-item" href="/html/cronmgr">
                                定时任务
                            </a>
                            <a class="navbar-item" href="/html/schedulemgr">
                                计划任务
                            </a>
                            <a class="navbar-item" href="/html/toolmgr">
                                工具
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="/test">
                                T
                            </a>
                        </div>
                    </div>

                    <!-- 系统管理 -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/html/sysmgr">
                            系统管理
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <!-- <div class="navbar-dropdown"> -->
                            <a class="navbar-item" href="/html/deptmgr">
                                部门维护
                            </a>
                            <a class="navbar-item" href="/html/accountmgr">
                                账号维护
                            </a>
                            <a class="navbar-item" href="/html/argmgr">
                                参数维护
                            </a>
                            <a class="navbar-item" href="/html/authmgr">
                                权限维护
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="/test">
                                T
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000"
                                    target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms">
                                    <span class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </span>
                                    <span>
                                        Tweet
                                    </span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.5.1.zip">
                                    <span class="icon">
                                        <i class="fas fa-download"></i>
                                    </span>
                                    <span>Download</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth">
                <nav class="panel">
                    <p class="panel-heading">
                        repositories
                    </p>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input is-small" type="text" placeholder="search">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </p>
                    </div>
                    <p class="panel-tabs">
                        <a class="is-active">all</a>
                        <a>public</a>
                        <a>private</a>
                        <a>sources</a>
                        <a>forks</a>
                    </p>
                    <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="fas fa-book"></i>
                        </span>
                        bulma
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book"></i>
                        </span>
                        marksheet
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book"></i>
                        </span>
                        minireset.css
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book"></i>
                        </span>
                        jgthms.github.io
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-code-branch"></i>
                        </span>
                        daniellowtw/infboard
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-code-branch"></i>
                        </span>
                        mojs
                    </a>
                    <label class="panel-block">
                        <input type="checkbox"> remember me
                    </label>
                    <div class="panel-block">
                        <button class="button is-link is-outlined is-fullwidth">
                            reset all filters
                        </button>
                    </div>
                </nav>
            </div>
            <div class="column">B</div>
        </div>
    </div>

    <script src="/static/js/base/jquery-3.2.1.min.js"></script>
    <script src="/static/js/base/jquery-ui.min.js"></script>
    <script defer src="/static/js/base/fontawesome.min.js"></script>

</body>

</html>