<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Page</title>
    <link href="/static/css/base/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base/bulma.min.css">
</head>

<body>

    <nav class="navbar is-boxed is-fullwidth">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/index">
                    <img src="/static/img/BOC.jpg" alt="BOC">
                    <!--width="45" height="50">-->
                </a>
                <div class="navbar-burger burger" data-target="navmenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navmenu" class="navbar-menu">
                <div class="navbar-start">

                    <a class="navbar-item" href="/index">
                        首页
                    </a>

                    <!-- 配置管理 -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/html/configmgr">
                            配置管理
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <!-- <div class="navbar-dropdown"> -->
                            <a class="navbar-item" href="/html/appmgr">
                                应用管理
                            </a>
                            <a class="navbar-item" href="/html/servermgr">
                                服务器管理
                            </a>
                            <a class="navbar-item" href="/html/osusermgr">
                                用户管理
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="/html/test">
                                T
                            </a>
                        </div>
                    </div>

                    <!-- 任务管理 -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/html/taskmgr">
                            任务管理
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <!-- <div class="navbar-dropdown"> -->
                            <a class="navbar-item" href="/html/cronmgr">
                                定时任务
                            </a>
                            <a class="navbar-item" href="/html/schedulemgr">
                                计划任务
                            </a>
                            <a class="navbar-item" href="/html/toolmgr">
                                工具
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="/test">
                                T
                            </a>
                        </div>
                    </div>


                </div>

                <div class="navbar-end">
                    <!-- 系统管理 -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/html/sysmgr">
                            系统管理
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <!-- <div class="navbar-dropdown"> -->
                            <a class="navbar-item" href="/html/deptmgr">
                                部门维护
                            </a>
                            <a class="navbar-item" href="/html/accountmgr">
                                账号维护
                            </a>
                            <a class="navbar-item" href="/html/argmgr">
                                参数维护
                            </a>
                            <a class="navbar-item" href="/html/authmgr">
                                权限维护
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="/test">
                                T
                            </a>
                        </div>
                    </div>

                    <div class="navbar-item">
                        <button class="button is-link is-outlined">退出</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-link is-small">
        <!-- <div class="hero-head">

        </div> -->

        <div class="hero-body">
            <div class="container has-text-centered">
                <p>自动化操作平台</p>
                <!-- <h1 class="title">
                    Title
                </h1>
                <h2 class="subtitle">
                    Subtitle -->
                </h2>
            </div>
        </div>

        <!-- <div class="hero-foot">

        </div> -->

    </section>


    <!-- <div class="container"> -->
    <div class="columns">
        <div class="column is-one-fifth">
            <nav class="panel">
                <p class="panel-heading">
                    <span>快速查找</span>
                </p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input class="input is-small" type="text" placeholder="search" onkeydown="if(event.keyCode==13){alert('aaa');}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>
                <p class="panel-tabs">
                    <a class="is-active">all</a>
                    <a>预留</a>
                </p>

                <a class="panel-block is-active">
                    <span class="panel-icon">
                        <i class="far fa-address-card"></i>
                    </span>
                    <div>
                        <p>
                            <span>
                                <strong>刁磊</strong> @ 维护四部
                            </span>
                        </p>
                        <p class="is-small">
                            <span class="icon">
                                <i class="fas fa-phone"></i>
                            </span>
                            <span>010-82973717</span>
                        </p>
                        <p class="is-small">
                            <span class="icon">
                                <i class="fas fa-mobile"></i>
                            </span>
                            <span>13521666611</span>
                        </p>
                    </div>
                </a>

                <div class="panel-block">
                    <nav class="pagination is-small" role="navigation" aria-label="pagination">
                        <a class="pagination-previous">Previous</a>
                        <a class="pagination-next">Next</a>
                        <ul class="pagination-list">
                            <li>
                                <a class="pagination-link" aria-label="Goto page 1">1</a>
                            </li>
                            <li>
                                <span class="pagination-ellipsis">&hellip;</span>
                            </li>
                            <!-- <li>
                                <a class="pagination-link" aria-label="Goto page 45">45</a>
                            </li> -->
                            <li>
                                <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">5</a>
                            </li>
                            <!-- <li>
                                <a class="pagination-link" aria-label="Goto page 47">47</a>
                            </li> -->
                            <li>
                                <span class="pagination-ellipsis">&hellip;</span>
                            </li>
                            <li>
                                <a class="pagination-link" aria-label="Goto page 86">10</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="panel-block">
                    <button class="button is-link is-outlined is-fullwidth">
                        reset all filters
                    </button>
                </div>
            </nav>
        </div>
        <div class="column">
                <div class="field is-grouped">
                        <p class="control">
                          <a class="button is-success">
                            新增
                          </a>
                        </p>
                        <p class="control">
                          <a class="button is-warning">
                            修改
                          </a>
                        </p>
                        <p class="control">
                          <a class="button is-danger">
                            删除
                          </a>
                        </p>
                      </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <abbr title="Position">Pos</abbr>
                        </th>
                        <th>Team</th>
                        <th>
                            <abbr title="Played">Pld</abbr>
                        </th>
                        <th>
                            <abbr title="Won">W</abbr>
                        </th>
                        <th>
                            <abbr title="Drawn">D</abbr>
                        </th>
                        <th>
                            <abbr title="Lost">L</abbr>
                        </th>
                        <th>
                            <abbr title="Goals for">GF</abbr>
                        </th>
                        <th>
                            <abbr title="Goals against">GA</abbr>
                        </th>
                        <th>
                            <abbr title="Goal difference">GD</abbr>
                        </th>
                        <th>
                            <abbr title="Points">Pts</abbr>
                        </th>
                        <th>Qualification or relegation</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            <abbr title="Position">Pos</abbr>
                        </th>
                        <th>Team</th>
                        <th>
                            <abbr title="Played">Pld</abbr>
                        </th>
                        <th>
                            <abbr title="Won">W</abbr>
                        </th>
                        <th>
                            <abbr title="Drawn">D</abbr>
                        </th>
                        <th>
                            <abbr title="Lost">L</abbr>
                        </th>
                        <th>
                            <abbr title="Goals for">GF</abbr>
                        </th>
                        <th>
                            <abbr title="Goals against">GA</abbr>
                        </th>
                        <th>
                            <abbr title="Goal difference">GD</abbr>
                        </th>
                        <th>
                            <abbr title="Points">Pts</abbr>
                        </th>
                        <th>Qualification or relegation</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a>
                            <strong>(C)</strong>
                        </td>
                        <td>38</td>
                        <td>23</td>
                        <td>12</td>
                        <td>3</td>
                        <td>68</td>
                        <td>36</td>
                        <td>+32</td>
                        <td>81</td>
                        <td>Qualification for the
                            <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
                                title="2016–17 UEFA Champions League">Champions League group stage</a>
                        </td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a>
                        </td>
                        <td>38</td>
                        <td>20</td>
                        <td>11</td>
                        <td>7</td>
                        <td>65</td>
                        <td>36</td>
                        <td>+29</td>
                        <td>71</td>
                        <td>Qualification for the
                            <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
                                title="2016–17 UEFA Champions League">Champions League group stage</a>
                        </td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a>
                        </td>
                        <td>38</td>
                        <td>19</td>
                        <td>13</td>
                        <td>6</td>
                        <td>69</td>
                        <td>35</td>
                        <td>+34</td>
                        <td>70</td>
                        <td>Qualification for the
                            <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
                                title="2016–17 UEFA Champions League">Champions League group stage</a>
                        </td>
                    </tr>
                    <tr class="is-selected">
                        <th>4</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C.">Manchester City</a>
                        </td>
                        <td>38</td>
                        <td>19</td>
                        <td>9</td>
                        <td>10</td>
                        <td>71</td>
                        <td>41</td>
                        <td>+30</td>
                        <td>66</td>
                        <td>Qualification for the
                            <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Play-off_round"
                                title="2016–17 UEFA Champions League">Champions League play-off round</a>
                        </td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Manchester_United_F.C." title="Manchester United F.C.">Manchester United</a>
                        </td>
                        <td>38</td>
                        <td>19</td>
                        <td>9</td>
                        <td>10</td>
                        <td>49</td>
                        <td>35</td>
                        <td>+14</td>
                        <td>66</td>
                        <td>Qualification for the
                            <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage"
                                title="2016–17 UEFA Europa League">Europa League group stage</a>
                        </td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Southampton_F.C." title="Southampton F.C.">Southampton</a>
                        </td>
                        <td>38</td>
                        <td>18</td>
                        <td>9</td>
                        <td>11</td>
                        <td>59</td>
                        <td>41</td>
                        <td>+18</td>
                        <td>63</td>
                        <td>Qualification for the
                            <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage"
                                title="2016–17 UEFA Europa League">Europa League group stage</a>
                        </td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/West_Ham_United_F.C." title="West Ham United F.C.">West Ham United</a>
                        </td>
                        <td>38</td>
                        <td>16</td>
                        <td>14</td>
                        <td>8</td>
                        <td>65</td>
                        <td>51</td>
                        <td>+14</td>
                        <td>62</td>
                        <td>Qualification for the
                            <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Third_qualifying_round"
                                title="2016–17 UEFA Europa League">Europa League third qualifying round</a>
                        </td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Liverpool_F.C." title="Liverpool F.C.">Liverpool</a>
                        </td>
                        <td>38</td>
                        <td>16</td>
                        <td>12</td>
                        <td>10</td>
                        <td>63</td>
                        <td>50</td>
                        <td>+13</td>
                        <td>60</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Stoke_City_F.C." title="Stoke City F.C.">Stoke City</a>
                        </td>
                        <td>38</td>
                        <td>14</td>
                        <td>9</td>
                        <td>15</td>
                        <td>41</td>
                        <td>55</td>
                        <td>−14</td>
                        <td>51</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>10</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Chelsea_F.C." title="Chelsea F.C.">Chelsea</a>
                        </td>
                        <td>38</td>
                        <td>12</td>
                        <td>14</td>
                        <td>12</td>
                        <td>59</td>
                        <td>53</td>
                        <td>+6</td>
                        <td>50</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>11</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Everton_F.C." title="Everton F.C.">Everton</a>
                        </td>
                        <td>38</td>
                        <td>11</td>
                        <td>14</td>
                        <td>13</td>
                        <td>59</td>
                        <td>55</td>
                        <td>+4</td>
                        <td>47</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>12</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Swansea_City_A.F.C." title="Swansea City A.F.C.">Swansea City</a>
                        </td>
                        <td>38</td>
                        <td>12</td>
                        <td>11</td>
                        <td>15</td>
                        <td>42</td>
                        <td>52</td>
                        <td>−10</td>
                        <td>47</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>13</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Watford_F.C." title="Watford F.C.">Watford</a>
                        </td>
                        <td>38</td>
                        <td>12</td>
                        <td>9</td>
                        <td>17</td>
                        <td>40</td>
                        <td>50</td>
                        <td>−10</td>
                        <td>45</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>14</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/West_Bromwich_Albion_F.C." title="West Bromwich Albion F.C.">West Bromwich Albion</a>
                        </td>
                        <td>38</td>
                        <td>10</td>
                        <td>13</td>
                        <td>15</td>
                        <td>34</td>
                        <td>48</td>
                        <td>−14</td>
                        <td>43</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>15</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Crystal_Palace_F.C." title="Crystal Palace F.C.">Crystal Palace</a>
                        </td>
                        <td>38</td>
                        <td>11</td>
                        <td>9</td>
                        <td>18</td>
                        <td>39</td>
                        <td>51</td>
                        <td>−12</td>
                        <td>42</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>16</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/A.F.C._Bournemouth" title="A.F.C. Bournemouth">AFC Bournemouth</a>
                        </td>
                        <td>38</td>
                        <td>11</td>
                        <td>9</td>
                        <td>18</td>
                        <td>45</td>
                        <td>67</td>
                        <td>−22</td>
                        <td>42</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>17</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Sunderland_A.F.C." title="Sunderland A.F.C.">Sunderland</a>
                        </td>
                        <td>38</td>
                        <td>9</td>
                        <td>12</td>
                        <td>17</td>
                        <td>48</td>
                        <td>62</td>
                        <td>−14</td>
                        <td>39</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>18</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Newcastle_United_F.C." title="Newcastle United F.C.">Newcastle United</a>
                            <strong>(R)</strong>
                        </td>
                        <td>38</td>
                        <td>9</td>
                        <td>10</td>
                        <td>19</td>
                        <td>44</td>
                        <td>65</td>
                        <td>−21</td>
                        <td>37</td>
                        <td>Relegation to the
                            <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship"
                                title="2016–17 Football League Championship">Football League Championship</a>
                        </td>
                    </tr>
                    <tr>
                        <th>19</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Norwich_City_F.C." title="Norwich City F.C.">Norwich City</a>
                            <strong>(R)</strong>
                        </td>
                        <td>38</td>
                        <td>9</td>
                        <td>7</td>
                        <td>22</td>
                        <td>39</td>
                        <td>67</td>
                        <td>−28</td>
                        <td>34</td>
                        <td>Relegation to the
                            <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship"
                                title="2016–17 Football League Championship">Football League Championship</a>
                        </td>
                    </tr>
                    <tr>
                        <th>20</th>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Aston_Villa_F.C." title="Aston Villa F.C.">Aston Villa</a>
                            <strong>(R)</strong>
                        </td>
                        <td>38</td>
                        <td>3</td>
                        <td>8</td>
                        <td>27</td>
                        <td>27</td>
                        <td>76</td>
                        <td>−49</td>
                        <td>17</td>
                        <td>Relegation to the
                            <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship"
                                title="2016–17 Football League Championship">Football League Championship</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- </div> -->

    <script src="/static/js/base/jquery-3.2.1.min.js"></script>
    <script src="/static/js/base/jquery-ui.min.js"></script>
    <script defer src="/static/js/base/fontawesome.min.js"></script>

</body>

</html>