<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>任务编辑</title>
</head>

<body>
    <input id="module" type="hidden" value="taskmgr">
    <div id="jobinfo">
        <p>----------任务信息----------</p>
        <label>系统:</label>
        <input id="system" name="system" value="TEST">
        <label>名称:</label>
        <input id="name" name="name" value="测试任务">
        <label>保存为工具:</label>
        <input id="iftool" type="checkbox">
        <label>执行时间表达式:</label>
        <input id="runtime" name="runtime" value="30 * * * *">
        <button id="submit">提交</button>
    </div>
    <div id="stepinfo">
        <p>----------作业列表----------</p>
        <div id="joboperation">
            <button class="step-add">添加步骤</button>
            <button class="step-del">删除步骤</button>
        </div>
        <div id="steplist">
            <div class="step" data-seq="1" data-valid="true">
                <p data-name="step-title">----------STEP 1----------</p>
                <p data-name="step-operation">
                    <input data-type="check" data-name="step-check" type="checkbox">
                    <button class="stepdtl-add">添加指令</button>
                    <button class="stepdtl-del">删除指令</button>
                </p>
                <div class="stepdtl">
                    <input data-type="check" data-name="stepdtl-check" type="checkbox">
                    <label>IP:</label>
                    <input data-type="data" data-name="ip" value="192.168.100.101">
                    <label>端口:</label>
                    <input data-type="data" data-name="port" value="22">
                    <label>用户名:</label>
                    <input data-type="data" data-name="username" value="test">
                    <label>密码:</label>
                    <input data-type="data" data-name="password" value="test">
                    <label>命令:</label>
                    <input data-type="data" data-name="command" value="ls -lrt">
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/taskmgr.js"></script>
</body>

</html>