<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="/static/css/base/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Hello World
            </h1>
            <p class="subtitle">
                My first website with
                <strong>Bulma</strong>!
            </p>
        </div>
    </section>

    <div>
        <p class="control has-icons-left">
            <input class="input" type="text">
            <span class="icon is-small is-left">
                <i class="far fa-envelope"></i>
            </span>
            <span>
                <button class="button is-primary">TEST</button>
            </span>
        </p>

    </div>

    <script defer src="/static/js/base/fontawesome.min.js"></script>
</body>

</html>
