<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Page</title>
    <link href="/static/css/base/jquery-editable-select.min.css" rel="stylesheet">
</head>

<body>
    <div id="json">
        <p>测试POST发送JSON请求,且接收JSON应答</p>
        <ul>
            <li>
                <label id="module">test</label>
            </li>
            <li>
                <input id="username" name="username">
            </li>
            <li>
                <input id="password" name="password">
            </li>
            <li>
                <button id="submit">确定</button>
            </li>
            <li>
                请求状态:
                <label id="status"></label>
            </li>
            <li>
                返回结果:
                <label id="result"></label>
            </li>
        </ul>
    </div>

    <!--
    <select id="editable-select">
        <option>Alfa Romeo</option>
        <option selected>Audi</option>
        <option>BMW</option>
        <option>Citroen</option>
    </select>
    -->
    <select id="editable-select">
        <!-- <option value="aaa" selected>AAA</option> -->
        <option value="aaa">AAA</option>
        <option value="bbb">BBB</option>
        <option value="ccc">CCC</option>
    </select>

    <select id="sub-select"></select>

    <script src="/static/js/base/jquery-3.2.1.min.js"></script>
    <script src="/static/js/base/jquery-editable-select.min.js"></script>
    <script src="/static/js/ext/testAjax.js"></script>
</body>

</html>